table {
  border: 0;
  border-collapse: separate;
  border-spacing: 0;
  margin: 0;
  table-layout: fixed;
  width: 100%;
  overflow: hidden;

  th {
    background: rgba(var(--card-background-rgb), 0.4);
    color: var(--card-background-contrast);
    font-weight: var(--font-weight-bold);
    padding: var(--padding) var(--padding-1_5x);
    border-bottom: 1px solid var(--card-background-tint);
  }

  td {
    padding: var(--padding-2x) var(--padding-1_5x);
    border-bottom: 1px solid var(--background);
  }

  th,
  td {
    text-align: left;
    vertical-align: top;
    font-size: var(--font-size-small);
    word-break: break-word;
  }
}

// Spacing and font-size of the content
main,
div.scrollable-island {
  & > h1:first-of-type {
    font-size: var(--font-size-huge);
  }

  & > h2 {
    font-size: 2.441rem;
  }

  & > h2,
  & > .card-grid {
    margin-top: var(--padding-6x);

    &:not(:first-of-type) {
      margin-top: var(--padding-8x);
    }
  }

  & > h3 {
    margin-top: var(--padding-4x);
  }

  table,
  pre[class*="language-"] {
    margin: var(--padding-3x) 0;
  }

  table {
    background: var(--card-background);
  }

  pre[class*="language-"] {
    // We always want dark code block
    background: #352652;
  }
}

// Code fonts
code {
  background: var(--input-background);
  color: var(--input-background-contrast);
  padding: 1px var(--padding-0_5x);
  font-family: inherit;
  font-size: inherit;
}

p strong {
  color: var(--background-contrast);
}

blockquote {
  margin: var(--padding-2x) 0;
  background: var(--warning-emphasis);
  color: var(--warning-emphasis-contrast);
  padding: var(--padding) var(--padding-2x);

  &:before {
    content: none;
  }
}
