name: Next Publication

on:
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-20.04
    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Package next
        run: ./scripts/package-next
      - name: Set up npm
        run: printf '%s\n' '//registry.npmjs.org/:_authToken=${NODE_AUTH_TOKEN}' registry=https://registry.npmjs.org/ always-auth=true >> .npmrc
      - name: Publish
        run: npm publish --provenance --tag next
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
