name: Publish Release

on:
  workflow_dispatch:
  release:
    types: [released]

jobs:
  publish:
    runs-on: ubuntu-20.04

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install Dependencies
        run: npm ci
      - name: Build
        run: npm run package
      - name: Set up npm
        run: printf '%s\n' '//registry.npmjs.org/:_authToken=${NODE_AUTH_TOKEN}' registry=https://registry.npmjs.org/ always-auth=true >> .npmrc
        working-directory: ./package
      - name: Publish
        run: npm publish --access public
        working-directory: ./package
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
